#include <physical_layouts.dtsi>

/{
    hpd_physical_layout: hpd_physical_layout {
    compatible = "zmk,physical-layout";
    display-name = "hpd";
    transform = <&default_transform>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   25       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   25       0     0     0>
            , <&key_physical_attrs 100 100  500   25       0     0     0>
            , <&key_physical_attrs 100 100 1125   25       0     0     0>
            , <&key_physical_attrs 100 100 1225   25       0     0     0>
            , <&key_physical_attrs 100 100 1325    0       0     0     0>
            , <&key_physical_attrs 100 100 1425   25       0     0     0>
            , <&key_physical_attrs 100 100 1525   50       0     0     0>
            , <&key_physical_attrs 100 100 1625   50       0     0     0>
            , <&key_physical_attrs 100 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  100  150       0     0     0>
            , <&key_physical_attrs 100 100  200  125       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  125       0     0     0>
            , <&key_physical_attrs 100 100  500  125       0     0     0>
            , <&key_physical_attrs 100 100 1125  125       0     0     0>
            , <&key_physical_attrs 100 100 1225  125       0     0     0>
            , <&key_physical_attrs 100 100 1325  100       0     0     0>
            , <&key_physical_attrs 100 100 1425  125       0     0     0>
            , <&key_physical_attrs 100 100 1525  150       0     0     0>
            , <&key_physical_attrs 100 100 1625  150       0     0     0>
            , <&key_physical_attrs 100 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  100  250       0     0     0>
            , <&key_physical_attrs 100 100  200  225       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  225       0     0     0>
            , <&key_physical_attrs 100 100  500  225       0     0     0>
            , <&key_physical_attrs 100 100 1125  225       0     0     0>
            , <&key_physical_attrs 100 100 1225  225       0     0     0>
            , <&key_physical_attrs 100 100 1325  200       0     0     0>
            , <&key_physical_attrs 100 100 1425  225       0     0     0>
            , <&key_physical_attrs 100 100 1525  250       0     0     0>
            , <&key_physical_attrs 100 100 1625  250       0     0     0>
            , <&key_physical_attrs 100 100    0  350       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 100 100  200  325       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  325       0     0     0>
            , <&key_physical_attrs 100 100  500  325       0     0     0>
            , <&key_physical_attrs 100 100 1125  325       0     0     0>
            , <&key_physical_attrs 100 100 1225  325       0     0     0>
            , <&key_physical_attrs 100 100 1325  300       0     0     0>
            , <&key_physical_attrs 100 100 1425  325       0     0     0>
            , <&key_physical_attrs 100 100 1525  350       0     0     0>
            , <&key_physical_attrs 100 100 1625  350       0     0     0>
            , <&key_physical_attrs 100 100  625  500    1500     0     0>
            , <&key_physical_attrs 100 100  725  525    1500     0     0>
            , <&key_physical_attrs 100 100  200  425       0     0     0>
            , <&key_physical_attrs 100 100  300  400       0     0     0>
            , <&key_physical_attrs 100 100  425  450    1500     0     0>
            , <&key_physical_attrs 100 100  525  475    1500     0     0>
            , <&key_physical_attrs 100 100 1100  475 (-1500)     0     0>
            , <&key_physical_attrs 100 100 1200  450 (-1500)     0     0>
            , <&key_physical_attrs 100 100 1325  400       0     0     0>
            , <&key_physical_attrs 100 100 1425  425       0     0     0>
            , <&key_physical_attrs 100 100  900  525 (-1500)     0     0>
            , <&key_physical_attrs 100 100 1000  500 (-1500)     0     0>
            , <&key_physical_attrs 100 100  625  325       0     0     0>
            ;
    };
};
